/
**/redis*
**/.eslintrc.js
**/babel.config.js
**/package-lock.json
**/package.json
**/node_modules/
**/tsconfig.json
**/webpack.config.js
**/dist
!/Webpack/*/package.json
!/Webpack/*/webpack.config.js
!/react_intro/*/*/*/webpack.config.js
!/react_intro/*/*/package.json



